# Fichiers et dossiers généraux de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
env/
# Venv doit toujours être ignoré

# Logs et Données Locales
*.log
data.json           # ⚠️ IMPORTANT : Si vous ne voulez pas envoyer data.json sur Github après les tests locaux. 
                    # Cependant, pour le déploiement initial, vous DEVEZ l'inclure.
                    # Si vous l'incluez, supprimez cette ligne.

# Fichiers de configuration de l'IDE (ex: VS Code)
.vscode/
.idea/
